<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>nginx, configured by EtechDevops</h1>
  <h1>Welcome to Etech Consulting Master class Team4 Techops Engineers!!!</h1>
  <h1>contact us at +13478735512/+16677868741,+16146747407 USA</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>
  <h3>The name of our group members</h3>
  <ol>
  <li>Engineer Anthony</li>
  <li>Engineer Kelechi</li>
  <li>Engineer Uche</li>
  <li>Engineer Okey</li>
  <li>Engineer Fidel</li>
  <li>Engineer Ntui</li>
</ol>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>
